:root {
  --color-1: #e1e6d8;
  --color-2: #969990;
  --color-3: #575954;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;

  background-color: var(--color-1);

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Raleway';
  font-weight: 500;
  color: var(--color-3);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: fit-content;
  display: flex;
}

.profile-pic {
  display: flex;
  align-items: center;
}

.profile-pic img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.content {
  margin-left: 64px;
  padding-left: 64px;
  border-left: 1px solid var(--color-2);

  width: 300px;
}

.user-info {
  padding: 48px 0;
  border-top: 1px solid var(--color-2);
  border-bottom: 1px solid var(--color-2);
}

.user-info div {
  display: flex;
  align-items: center;

  padding: 4px 0;
}

.text-about {
  margin: 48px 0;

  font-weight: normal;
  line-height: 1.5;
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: 16px;
}

.m-0 {
  margin: 0 !important;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.network li {
  display: flex;
  justify-content: center;
}

.network li a {
  width: fit-content;
}

@media (max-width: 768px) {
  body {
    padding: 0 8px;
  }

  .container {
    flex-direction: column;
  }

  .profile-pic {
    margin-bottom: 16px;

    justify-content: center;
  }

  .profile-pic img {
    max-width: 100%;
    width: auto;
    height: auto;
  }

  .content {
    margin: 0;
    padding: 0;
    border: 0;
    width: auto;
    max-width: 300px;
  }
}
